doctype html

html(lang="en-US")

  head
    title Landzbergs
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")

  body
    header
      h1 Landzbergs
      h3 This is made for Landzbergs, extended family, friends and other contacts all over the world

    main
      p I am Judah Landzberg and I live in MD, USA. 
      p I will work on adding features to this website to allow users to upload information about themselves, message other users or just post stories/articles/pictures. 
      p Hopefully we can link to other family websites to connect all family and friends who would like to be connected. 
      p If there are any features you would like to see before a full version of this site goes up, feel free to email me at landzbej@gmail.com.
      p It may be a few months before a full website with even some of the above features goes up...

    footer
      p Landzbergs